@page "/auth"
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<h3>Auth</h3>

<button @onclick="GetTest">GET test</button>
<button @onclick="GetWeather">GET weather</button>

Renderer: @RendererInfo.Name

<AuthorizeView>
    <Authorized>
      <strong>Hello, @context.User.Identity?.Name</strong>
    </Authorized>
    <Authorizing>
      <div>logging in</div>
    </Authorizing>
    <NotAuthorized>
      <div>not logged in</div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] public HttpClient Http { get; set; }
    async Task GetTest()
    {
        var response = await Http.GetStringAsync("https://localhost:5002/api/test");
        Console.WriteLine($"response: {response}");
    }
    async Task GetWeather()
    {
        var response = await Http.GetStringAsync("https://localhost:5002/api/weatherforecast");
        Console.WriteLine($"response: {response}");
    }
}