@using PhotoSharingApplication.Client.Core.Models
@inherits CommentComponentBase
@if (comment is not null)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Comment</h5>
        </div>
        <div class="card-body">
            <dl>
                <dt>Subject</dt>
                <dd>@comment.Subject</dd>
                <dt>Body</dt>
                <dd>@comment.Body</dd>
            </dl>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" @onclick="OnEditClicked">Edit</button>
            <button class="btn btn-warning" @onclick="OnDeleteClicked">Delete</button>
        </div>
    </div>
}
@code {
    
    async Task OnEditClicked()
    {
        await NotifyCommentStateChanged(CommentStates.Edit);
    }

    async Task OnDeleteClicked()
    {
        await NotifyCommentStateChanged(CommentStates.Delete);
    }
}
