@inherits TestContext
<h3>CommentInsertComponentTests</h3>

@code {
    [Fact]
    public void RendersEmptyWhenCommentIsNull()
    {
        // Act
        var cut = Render(@<CommentInsertComponent />);

        // Assert
        cut.MarkupMatches(
    @<text></text>
        );
    }

    [Fact]
    public void RendersForm_WhenCommentIsNotNull()
    {
        Comment comment = new Comment() { Id = 1, Subject = "s1", Body = "b1", PhotoId = 1 };
        
        // Act
        var cut = Render(@<CommentInsertComponent Comment="comment" />);

        // Assert
        cut.MarkupMatches(@<div class="card">
        <div class="card-header">
            <h5 class="card-title">Insert Comment</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="subject" class="form-control-label">Subject</label>
                <input class="form-control" id="subject" name="subject" value="s1">
            </div>
            <div class="form-group">
                <label for="body" class="form-control-label">Body</label>
                <textarea class="form-control" id="body" name="body" value="b1"></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
    );
    }

    [Fact]
    public void AddTriggersOnAddComment()
    {
        //Arrange         
        Comment comment = new Comment() { Id = 1, Subject = "s1", Body = "b1", PhotoId = 1 };
        var cut = Render(@<CommentInsertComponent Comment="comment" OnAddComment="OnAddComment" />);

        void OnAddComment(Comment commentToAdd)
        {
            comment = commentToAdd;
        }

        // Act
        cut.Find("#subject").Change("s2");
        cut.Find("#body").Change("b2");
        cut.Find("button").Click();
   
        // Assert
        comment.Subject.Should().Be("s2");
        comment.Body.Should().Be("b2");
    }

    [Fact]
    public void AddTriggersCommentStateChanged()
    {
        // Arrange
        Comment comment = new Comment() { Id = 1, Subject = "s1", Body = "b1", PhotoId = 1 };
        CommentStates CommentState = CommentStates.Insert;
        var cut = Render(@<CommentInsertComponent Comment="comment" @bind-CommentState="CommentState" />);

        // Act
        cut.Find("button").Click();

        // Assert
        CommentState.Should().Be(CommentStates.View);
    }
}
